$darkBlue: #12232e;

$lightestBlue: #c74c4c;

$lightGrey: #a8a8a8;
$lighterGrey: #ddd;

$white: #ffffff;
$blackText: #121214;
$greenAccent: #4ad493;
$blueAccent: #05f;
$lighterBlue: rgb(100, 151, 255);
$hoverLighterBlue: darken($lighterBlue, 10);
$container: #eee;

$lightBorder: 1px solid rgba(0, 0, 0, 0.1);
