$darkBlue: #12232e;
$lighterBlue: #b51c14;
$lightestBlue: #c74c4c;
$shadowLightBlue: #690500;
$lightGrey: #a8a8a8;

$white: #ffffff;
$blackText: #121214;
$greenAccent: #4ad493;
$blueAccent: #05f;
$lightBorder: 1px solid rgba(0, 0, 0, 0.1);