@import "utilities";
@import "config";
* {
  text-decoration: none !important;
}
a {
  color: $blackText;
  text-decoration: none;
}

a:hover {
  color: $blueAccent;
  text-decoration: none;
  cursor: pointer;
}

.firstHeader {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  padding: 0 5%;
  border-bottom: $lightBorder;

  .logoWrapper {
    font-size: 1.5rem;
    padding: 10px;
    height: 100%;
    width: 100px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .headerLinksWrapper {
    padding: 10px;
    .headerLinks {
      li {
        display: inline-block;
        color: $blackText;
        margin: 10px;
        width: auto;
        padding: 10px;
        border-radius: 30px;
        // background-color: rgba(77, 168, 218, 0);
        transition: background-color 0.2s;

        a {
          text-decoration: none !important;
          :hover {
            color: $blueAccent;
            cursor: pointer;
          }
        }
      }
    }
  }

  .hamburgerWrapper {
    display: none;
  }

  .loginWrapper {
    .loginButtonWrapper {
      background-color: $lighterBlue;
      width: 122px;
      height: 46px;
      border-radius: 5px;
      button {
        background: none;
        border: none;
        outline: none;
        width: 100%;
        height: 100%;
      }
      :hover {
        background-color: $hoverLighterBlue;
        border-radius: 5px;
        cursor: pointer;
      }
    }
    .loginFormWrapper {
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      .loginModal {
        width: 424px;
        height: 500px;
        background-color: white;
        border-radius: 5px;
        padding: 20px;
        position: relative;
        span {
          position: absolute;
          top: 0;
          right: 10px;
          font-size: 1.8rem;
        }
        .modalHeader {
          width: 100%;
          height: auto;
          img {
            width: 100px;
            object-fit: contain;
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
          p {
            text-align: center;
            padding: 20px 0;
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .loginWrapper {
    .loginButtonWrapper {
      width: 62px !important;
      height: 28px !important;
      button {
        height: 100%;
        width: 100%;
      }
    }
  }

  .firstHeader {
    .headerLinksWrapper {
      .headerLinks {
        display: none;
      }
    }
    .logoWrapper {
      order: 2;
    }
    .loginWrapper {
      order: 3;
    }

    .hamburgerWrapper {
      display: block;
      .hamburgerLines {
        width: 25px;
        height: 3px;
        background-color: black;
        position: relative;
        * {
          transition: all 0.2s;
        }
      }
      #hl2 {
        margin: 3px 0;
      }
      .hl1a {
        transform: rotate(45deg);
        transition: all 0.2s linear;
        top: 2px;
      }
      .hl2a {
        display: none;
        transition: all 0.2s linear;
      }
      .hl3a {
        transform: rotate(-45deg);
        transition: all 0.2s linear;
        bottom: 1px;
      }
      .hl1ab {
        animation-name: hl1;
        animation-fill-mode: backwards;
        animation-timing-function: linear;
        animation-direction: normal;
        animation-duration: 0.2s;
        transform-origin: center left;
      }
      .hl2ab {
        animation-name: hl2;
        animation-fill-mode: backwards;
        animation-timing-function: linear;
        animation-direction: normal;
        animation-duration: 0.2s;
        transform-origin: center left;
      }
      .hl3ab {
        animation-name: hl3;
        animation-fill-mode: backwards;
        animation-timing-function: linear;
        animation-direction: normal;
        animation-duration: 0.2s;
        transform-origin: center left;
      }
    }
  }

  .mobileHeaderLinksWrapper {
    width: 100%;
    background-color: white;
    position: relative;
    height: 0;
    transition: all 0.2s linear;
    & > div {
      padding: 20px;
      display: none;
      ul {
        li {
          margin: 15px 0;
          a {
            font-size: 20px;
          }
        }
      }
    }
  }

  @keyframes hl1 {
    from {
      transform: rotate(0deg);
      bottom: 0;
    }
    to {
      transform: rotate(45deg);
      bottom: 2px;
    }
  }
  @keyframes hl2 {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes hl3 {
    from {
      transform: rotate(0deg);
      top: 0;
    }
    to {
      transform: rotate(-45deg);
      top: 3px;
    }
  }
}

@media (min-width: 768px) {
  .mobileHeaderLinksWrapper {
    display: none;
    & * {
      display: none;
    }
  }
}
