@import "utilities";
@import "config";

.carTitle {
  padding: 0 3%;
  margin: 10px 0;
  width: 100%;
  height: 50px;
  .carName {
    font-weight: 700;
  }
  .carFeatures {
    font-weight: 400;
  }
}

.carPhotos {
  padding: 0 3%;
  margin: 10px 0;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .mainCar {
    width: 65%;
    height: 100%;
    margin-right: 3px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
  .preloadImages {
    width: 35%;
    height: inherit;
    .preloadExterior {
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      position: relative;
      margin-bottom: 0;
      span {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 3px 5px;
        margin-left: 5px;
        margin-top: 5px;
        border-radius: 5px;
        color: $white;
        text-align: center;
        font-weight: 500;
        font-size: 0.8rem;
      }
      .preloadExteriorThumb {
        overflow: hidden;
        width: 49%;
        margin: 0 2px;
        img {
          width: 100%;
          height: 147px;
          object-fit: cover;
          // object-position: center;
        }
      }
    }
    .preloadInterior {
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      position: relative;
      span {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 3px 5px;
        margin-left: 5px;
        margin-top: 5px;
        border-radius: 5px;
        color: $white;
        text-align: center;
        font-weight: 500;
        font-size: 0.8rem;
      }
      .preloadInteriorThumb {
        display: inline-block;
        overflow: hidden;
        width: 49%;
        margin: 0 2px;
        img {
          width: 100%;
          height: 147px;
          object-fit: cover;
        }
      }
    }
  }
}

.mask {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.detailsFlex {
  display: flex;
  .params {
    padding-left: 3%;
    width: 65%;
    display: flex;
    float: left;
    dl {
      width: 49%;
      margin-bottom: 0;
      display: flex;
      flex-flow: row wrap;
      &:first-of-type {
        border: 1px solid #ebebeb;
        border-bottom: 0;
        border-radius: 6px 0 0 6px;
      }
      &:last-of-type {
        dt {
          &:first-of-type {
            border-radius: 0;
            border-top: 1px solid #ebebeb;
          }
        }
        dd {
          border-right: 1px solid #ebebeb;
          &:first-of-type {
            border-top-right-radius: 6px;
            border-top: 1px solid #ebebeb;
          }
          &:last-of-type {
            border-bottom-right-radius: 6px;
          }
        }
      }
      dt {
        width: 33%;
        padding-left: 16px;
        font-size: 15px;
        line-height: 41px;
        border-bottom: 1px solid #ebebeb;
        background-color: #f7f7f7;
        &:first-of-type {
          border-top-left-radius: 6px;
        }
      }
      dd {
        width: 66%;
        padding-left: 16px;
        font-size: 15px;
        line-height: 41px;
        border-bottom: 1px solid #ebebeb;
      }
    }
  }
  .additionalNotes {
    width: 32%;
    margin-right: 3%;
    padding: 10px;
    height: auto;
    float: right;
    border: $tableBorder;
    border-radius: 6px;
  }
}

@media (max-width: 1330px) {
  .carPhotos {
    .mainCar {
      width: 80%;
    }
    .preloadImages {
      width: 20%;
      .preloadExterior {
        .preloadExteriorThumb {
          width: 100%;
        }
      }
      .preloadInterior {
        .preloadInteriorThumb {
          width: 100%;
        }
      }
    }
  }
  .params {
    width: 75%;
  }
}

@media (max-width: 1080px) {
  .carPhotos {
    height: 500px;
    .mainCar {
      width: 80%;
    }
    .preloadImages {
      width: 20%;
      height: 500px;
      .preloadExterior {
        height: 250px;
        display: block;
        margin: 0;
        .preloadExteriorThumb {
          height: 123px;
          margin-bottom: 2px !important;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .preloadInterior {
        height: 250px;
        display: block;
        margin: 0;
        .preloadInteriorThumb {
          height: 123px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  .detailsFlex {
    flex-direction: column;
    justify-content: center;
    margin: 0 3%;
    .params {
      width: 100%;
      margin-bottom: 10px;
      padding: 0;
      dl {
        width: 50%;
      }
    }
    .additionalNotes {
      width: 100%;
    }
  }
}

@media (max-width: 960px) {
  .carPhotos {
    height: 400px;
    .mainCar {
      width: 85%;
    }
    .preloadImages {
      width: 15%;
      height: 400px;
      .preloadExterior {
        height: 200px;
        display: block;
        margin: 0;
        .preloadExteriorThumb {
          height: 98px;
          margin-bottom: 2px !important;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .preloadInterior {
        height: 200px;
        display: block;
        margin: 0;
        .preloadInteriorThumb {
          height: 98px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  .params {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .carousel {
    #heroCarousel {
      width: 326px;
      img {
        width: 100%;
        flex-grow: 1;
        height: 100%;
        object-fit: cover;
      }
    }
    .carousel-cell {
      width: 328px;
      height: 250px;
      margin-right: 4px;
      counter-increment: carousel-cell;
    }
    .preloadInterior768,
    .preloadExterior768 {
      left: 0;
      margin-left: 4px;
    }
    .preloadExterior768 img,
    .preloadInterior768 img {
      width: 161px;
      height: 123px;
    }
    .preloadInterior768 {
      // margin-left: 3px;
    }
  }
  .detailsFlex {
    margin: 0;
    .params {
      flex-direction: column;
      margin: 10px 0;
      * {
        border-radius: 0 !important;
      }
      dl {
        width: 100%;
        &:first-of-type {
          dd {
            border-right: none;
          }
        }
        &:last-of-type {
          dt,
          dd {
            &:first-of-type {
              border-top: none;
            }
          }
          dd {
            border-right: none;
          }
        }
      }
    }
  }
}
