@import "utilities";
@import "config";
@import "header";

.main-carousel {
  height: 630px;
}
.carousel-cell {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.slideshow {
  img {
    max-width: 100%;
  }
}

.bigSearchWrapper {
  width: 100%;
  height: auto;
  position: absolute;
  // top: 50%;
  .searchText {
    text-align: center;
    text-shadow: 0 0 20px black;
    margin-bottom: 20px;
    h1 {
      font-size: 4.4rem;
      line-height: 7rem;
      color: white;
    }
    h2 {
      color: white;
    }
  }
  .bigSearch {
    width: 70%;
    height: 60px;
    background-color: $white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 35px;
    padding: 10px;
    position: relative;
    form {
      height: 100%;
    }
    .searchFlex {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 5px;
    }
    .where {
      height: 100%;
      width: 35%;
      margin-left: 10px;
      position: relative;
      border-right: 1px solid black;
      display: inline-block;
      input {
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        position: relative;
      }
      .floater {
        position: absolute;
        display: inline-block;
        top: 8px;
        left: 0;
      }
    }
    .fromDate {
      border-right: 1px solid black;
    }
    .fromDate,
    .untilDate {
      display: inline-block;
      width: 29%;
      label {
        display: inline;
        font-size: 0.8rem;
        opacity: 0.8;
      }
    }
    button {
      border: none;
      outline: none;
      background: none;
    }
    .searchIcon {
      .circle {
        width: 40px;
        height: 40px;
        background-color: $blueAccent;
        border-radius: 50%;
        margin-left: auto;
        img {
          width: 20px;
          margin-left: auto;
          margin-right: auto;
          display: block;
          position: relative;
          top: 24%;
        }
      }
    }
  }
}

#aboutUsWrapper {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 25px;
  #aboutUs {
    width: 70%;
    height: auto;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    #whyUs {
      // position: relative;
      width: 120px;
      padding: 10px 20px 10px 10px;
      font-size: 20px;
      position: relative;
      color: #fff;
      background: #ff0000;
      ::after {
        content: " ";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background: #ff0000;
        transform-origin: bottom left;
        -ms-transform: skew(-30deg, 0deg);
        -webkit-transform: skew(-30deg, 0deg);
        transform: skew(-30deg, 0deg);
      }
    }
    .aboutUsText {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      #aboutUs1 {
        border-right: 1px solid black;
      }
      #aboutUs2 {
        ul {
          li {
            i {
              margin: 5px 5px 5px 0;
              width: 20px;
              height: 20px;
              text-align: center;
              border-radius: 2px;
              background: #ec3323 none repeat scroll 0 0;
              color: #fff;
              line-height: 20px;
              font-size: 12px;
              display: inline-block;
            }
          }
        }
      }
      div {
        width: 50%;
        padding: 20px;
      }
    }
  }
}

#hotCarsWrapper {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 25px;
  #hotCars {
    width: 80%;
    height: auto;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;

    .bannerText {
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      width: 80%;
      align-items: center;
      justify-content: center;
    }
  }
}
